.container {
  position: absolute;
  top: 3.5rem;
  right: -5.5rem;
  z-index: 10;

  width: 3.0rem;
  height: 3.0rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #232323;
  border: 0.05rem solid #454545;
  border-radius: 0.25rem;
  color: #959595;
}

.count {
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;

  width: 1.25rem;
  height: 1.25rem;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Roboto Condensed', cursive;
  font-size: 0.75rem;

  background-color: #ffd000;
  border-radius: 50%;
  color: #252525;
}

.show {
  transition: right 0.5s ease-in-out 0.5s;
  right: 0.5rem;
}

.hide {
  transition: right 0.5s ease-in-out 2.0s;
  right: -5.5rem;
}
