.container {
  width: 100%;
  height: 100%;

  background-color: rgba(37, 37, 37, 0.25);
  backdrop-filter: blur(0.5rem);

  position: absolute;
  top: 0;
  right: -100%;
  z-index: 1;
}

.container.visible {
  animation: show 0.25s ease-in-out forwards;
}

.container.hidden {
  animation: hide 0.25s ease-in-out forwards;
}

@keyframes show {
  0% {
    right: -100%;
    opacity: 0.0;
  }

  1% {
    right: 0;
    opacity: 0.0;
  }

  100% {
    right: 0;
    opacity: 1.0;
  }
}

@keyframes hide {
  0% {
    right: 0;
    opacity: 1.0;
  }

  99% {
    right: 0;
    opacity: 0.0;
  }

  100% {
    right: -100%;
  }
}

.notifier {
  width: 3.0rem;
  height: 3.0rem;
  position: absolute;
  top: 0rem;
  left: -3.0rem;
}



.card {
  width: 100%;
  height: 22.5rem;

  display: flex;
  flex-direction: column;

  background-color: #252525;
  border: 0.025rem solid #404040;
  border-radius: 0.5rem;
}

.header {
  width: 100%;
  padding: 0.5rem 1.0rem;
  background-color: #292929;
  border-radius: 0.5rem 0.5rem 0 0;
  border-bottom: 0.025rem solid #353535;
  display: flex;
  color: #606060;
}

.title {
  flex: 1;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.0rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.status {
  text-align: right;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  border-radius: 0.5rem 0.5rem 0.0rem 0.0rem;
  color: #b5b5b5;
}

.content {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.id {
  margin: 0.5rem 0.0rem 1.0rem 0.0rem;
  font-family: monospace;
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 0.075rem;
  color: #959595;
}

.power {
  margin: 0.5rem 0.0rem;
  font-size: 2.00rem;
  text-transform: uppercase;
  letter-spacing: 0.075rem;
  color: #c5c5c5;
}

.stars {
  margin: 0.75rem 0 0.5rem 0.0rem;
}

.stars svg {
  width: 2.75rem;
  height: 2.75rem;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 1.5rem 1.0rem;

  background-color: #272727;
  border-radius: 0 0 0.5rem 0.5rem;
  border-top: 0.025rem solid #303030;
}

.actions {
  flex: 1;
}

.actions button {
  display: inline-block;
  padding: 0.25rem 4.5rem;

  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.00rem;
  font-weight: bold;

  text-decoration: none;
  text-transform: uppercase;

  letter-spacing: 0.05rem;

  background-color: #ffd000;
  color: #252525;

  border: 1px solid #ffd000;
  border-radius: 0.25rem;

  transition: all 0.25s ease-in-out;
}

.actions button:active {
  background-color: #252525;
  color: #ffd000;

  border: 1px solid #ffd000;
}

.actions button:disabled {
  background-color: #252525;
  color: #ffd000;

  border: 1px solid #ffd000;

  opacity: 0.25;
  pointer-events: none;
}

.skip, .actions {
  flex: 1;
  text-align: center;
}

.skip button {
  text-transform: uppercase;
  font-size: 1.00rem;
  background-color: transparent;
  border: none;
  color: #606060;
}
